<a href="https://colab.research.google.com/github/MaybinKatongo/Data-Structures/blob/main/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures in Python

# Numbers and Boolean

### Integer - int

In [ ]:
# Integers - these are numbers without point or float

a = 48
print(a)

48

### Floating point - float
- Its a number containing decimal or a float

In [ ]:
# Floating point - float

In [ ]:
b = 9.5
print(b)
type(b)

9.5

float

Checking Data type

- type()

In [ ]:
type(a)

int

In [ ]:
type(b)

float

### Typecasting
-  The process of changing data type from one type to the other
-  int( )
-  float( )

In [ ]:
divide = 5/2
print(divide)

2.5

In [ ]:
type(divide)

float

In [ ]:
float(a)

48.0

In [ ]:
type(a)

int

In [ ]:
int(divide)

2

In [ ]:
c = int(b)
type(c)

int

## Boolean

- True
- False

In [ ]:
r = True
s = False

In [ ]:
print(type(r))
print(type(s))

<class 'bool'>
<class 'bool'>

## Strings

In [ ]:
"I am a data scientist"

'I am a data scientist'

In [ ]:
print("I am a data scientist")

I am a data scientist

In [ ]:
# Use duble quotes if there is an apostroph in the string
"He's a data scientist"

"He's a data scientist"

### Escape character

In [ ]:
# Use escape character when you have multiple apostrophies and quotes in a string
print('Newton\'s third law: "Every action has an equl but opposite reaction"')

Newton's third law: "Every action has an equl but opposite reaction"

String Concatenation

In [ ]:
print("Hello" + " world")

Hello world

String Indexing
- String can be stored into variables
- Each character can be accesses seperately from a string

In [ ]:
greetings = "Hello World"
print(greetings)

Hello World

In [ ]:
greetings[4]

'o'

String Slicing
- Extracting a particular substring from the string
- some_string[start:end]

In [ ]:
greetings = "Hello World"
print("First part -> ", greetings[0:5])
print("Second part -> ", greetings[6:12])

First part ->  Hello
Second part ->  World

String length
- len()

In [ ]:
greetings = "Hello World"
len(greetings)

11

In [ ]:
print(greetings[len(greetings)-1])

d

## List
- A lsit is a collection of variables
- Variables can be of any data type
- Create list using square brackets [ ]

Looping lists

In [ ]:
my_list = [1, 2, 3, 4, 'Python', 'is', 'neat']

for i in my_list:
  print(i)

1
2
3
4
Python
is
neat

In [ ]:
my_list.append('nice')
print(my_list)

[1, 2, 3, 4, 'Python', 'is', 'neat', 'nice']

In [ ]:
my_list.pop()

'nice'

In [ ]:
my_

Break
- Stop the execution of the loop

In [ ]:
for i in my_list:
  if i == 'Python':
    break
  print(i)

1
2
3
4

Continue
- Continue to the next item without executing the line occuring after inside the loop.

In [ ]:
for i in my_list:
  if i == 1:
    continue
  print(i)

2
3
4
Python
is
neat

## Set
- A set is a special kind of a list where element can only be unique
- Set can not be indexed
- Set doesnt have order
- Set is mutable
- Create set using curly brackets { }

In [ ]:
# Creating a set
my_set = {1, 2, 3}
print(my_set)

{1, 2, 3}

Add elements in a set
- add()

In [ ]:
my_set.add(4)
my_set.add(1)
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

Remove elements from a set
- pop()

In [ ]:
my_set.pop()
print(my_set)

{2, 3, 4, 5}

## Tuple
- Special case f a list where the elements can not change
- Tuple is immutable
- Create tuple using circular brackets ( )
- Idexing and slicing is same as list

In [ ]:
# creating a tuple
my_tuple = (1, 2, 3, 5.3)
print(type(my_tuple))

<class 'tuple'>

In [ ]:
print(my_tuple[3])

5.3

Empty tuple

In [ ]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

Tuple with One element
- Create this using trailing comma

In [ ]:
tuple_one = (2),
print(tuple_one)
print(type(tuple_one))

(2,)
<class 'tuple'>

Tuple packing
- You can create a tuple without brackets

In [ ]:
t = 112, 345, 'hello!'
print(t)
print(type(t))

(112, 345, 'hello!')
<class 'tuple'>

Sequence unpacking

In [ ]:
x, y, z = t
print(x)
print(y)
print(z)

112
345
hello!

- functions in tuples

In [ ]:
t.count(345)

1

In [ ]:
t.index(112)

0

## Dictionary
- Have a key value per data structure
- Can be indexed but with its key.
- Keys are unique
- No order 
- Create dictionary using curly brackets { } and colon :

In [ ]:
my_dict = {1: 2,"Ahmed": 4, 2.3: ["a",5,2.1]}
print(my_dict)
print(my_dict[1])

{1: 2, 'Ahmed': 4, 2.3: ['a', 5, 2.1]}
2

In [ ]:
# Checking if key exists
# use in function

1 in my_dict

True

In [ ]:
# getting the value of the key without error
print(my_dict.get(2))

None

In [ ]:
grocery_dict = { } # empty dictionary
print(grocery_dict)
print(type(grocery_dict))

{}
<class 'dict'>

In [ ]:
grocery_dict = {'melon': 2, 'Apple': 3, 'Strawbelly': 5 }
print(grocery_dict)
print(type(grocery_dict))

{'melon': 2, 'Apple': 3, 'Strawbelly': 5}
<class 'dict'>

In [ ]:
print(grocery_dict['melon'])

2

In [ ]:
grocery_dict['Orange'] = 18

In [ ]:
print(grocery_dict)

{'melon': 2, 'Apple': 3, 'Strawbelly': 5, 'Orange': 18}

## Compounded Data Structures

In [ ]:
my_dict = {1: {1:[1, 2, 3, 'ahmed'], 3.2:(1, 2, 3)}}
my_list = [{1:['ahm', 'ca', 'bh']}, [2, (3,4,8), 4], 'ahmed']

In [ ]:
# Accessing value inside the compounded data structure
my_dict[1][1][3] # Accessing Ahmed

'ahmed'

In [ ]:
# Accessing 3.2
my_dict[1][3.2]

(1, 2, 3)

In [ ]:
my_list[0][1][0]

'ahm'

In [ ]:
my_list[1][1][2] # Accesing 8 inside the tuple

8

In [ ]:
my_tuple = (1, 2, {1:['tuple',6]})

In [ ]:
my_tuple[2][1][0] # Accessing tuple inside the dict

'tuple'